<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Playground.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Playground.Properties.Settings>
            <setting name="OldString" serializeAs="String">
                <value>using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Windows;
using System.Windows.Controls;
using System.Windows.Data;
using System.Windows.Documents;
using System.Windows.Input;
using System.Windows.Media;
using System.Windows.Media.Imaging;
using System.Windows.Navigation;
using System.Windows.Shapes;
//using LibGit2Sharp;
using GitSharp;
using GitSharp.Commands;

namespace Playground
{
    /// &lt;summary&gt;
    /// Interaction logic for MainWindow.xaml
    /// &lt;/summary&gt;
    public partial class MainWindow : Window
    {
        public MainWindow()
        {
            InitializeComponent();
            Loaded += MainWindow_Loaded;
        }

        private void MainWindow_Loaded(object sender, RoutedEventArgs e)
        {
            //TestLibGit2Sharp();
            TestGitSharp();
        }

        //private void TestLibGit2Sharp()
        //{
        //    using (var repo = new Repository("C:\\source\\git-basic"))
        //    {
        //        var repoDifferences = repo.Diff.Compare&lt;Patch&gt;(new string[] { "Playground\\MainWindow.xaml.cs" }, true);
        //        DiffViewer.Text = repoDifferences.Content;
        //    }
        //}

        private void TestGitSharp()
        {
            Diff diff = new Diff(Properties.Settings.Default.OldString, Properties.Settings.Default.NewString);
            foreach (var section in diff.Sections)
            {

            }
        }        
    }
}
</value>
            </setting>
            <setting name="NewString" serializeAs="String">
                <value>using System.Windows;
//using LibGit2Sharp;
using GitSharp;

namespace Playground
{
    /// &lt;summary&gt;
    /// Interaction logic for MainWindow.xaml
    /// &lt;/summary&gt;
    public partial class MainWindow : Window
    {
        public MainWindow()
        {
            InitializeComponent();
            Loaded += MainWindow_Loaded;
        }

        private void MainWindow_Loaded(object sender, RoutedEventArgs e)
        {
            //TestLibGit2Sharp();
            TestGitSharp();
        }

        //private void TestLibGit2Sharp()
        //{
        //    using (var repo = new Repository("C:\\source\\git-basic"))
        //    {
        //        var repoDifferences = repo.Diff.Compare&lt;Patch&gt;(new string[] { "Playground\\MainWindow.xaml.cs" }, true);
        //        DiffViewer.Text = repoDifferences.Content;
        //    }
        //}

        private void TestGitSharp()
        {
            Diff diff = new Diff(Properties.Settings.Default.OldString, Properties.Settings.Default.NewString);
            foreach (var section in diff.Sections)
            {
                DiffViewer.Text = section.TextA;                
            }
        }        
    }
}
</value>
            </setting>
        </Playground.Properties.Settings>
    </userSettings>
</configuration>